<p id="notice"><%= notice %></p>

<h1>Shows the user and their polls</h1>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


  
<h2>Your Polls</h2>
<table width="100%" border="1">
  <thead>
    <tr>
      <th width="25%">Polls</th>
      <th width="25%">Description</th>
      <th width="25%">Total Votes</th>
      <th width="25%"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.polls.each do |poll| %>
      <tr>
          <td><%= poll.title %></td>
          <td><%= poll.description %></td>
          <td><%= poll.totalVotes %></td>
          <td><%= link_to 'Show', poll %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

