<p id="notice"><%= notice %></p>

<p>
  <strong>Poll:</strong>
  <%= @option.poll_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Numvotes:</strong>
  <%= @option.numVotes %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
