<p id="notice"><%= notice %></p>

<h1>Polls</h1>

<%= form_tag(search_path, remote: true, id: "search_form") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>
<div id="results">
  <%= render 'results' %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= poll.title %></td>
        <td><%= poll.description %></td>
        <td><%= poll.user_id %></td>
        <td><%= poll.totalVotes %></td>
        <% if current_user %>
          <td><%= link_to 'Show', poll %></td>
          <td><%= link_to 'Edit', edit_poll_path(poll) %></td>
          <td><%= link_to 'Destroy', poll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user %>
  <%= link_to 'New Poll', new_poll_path %>
<% else %>
  <%= link_to 'Sign in', login_path %>
<% end %>
