<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @poll.user_id %>
</p>

<p>
  <strong>Total Number of Votes:</strong>
  <%= @poll.totalVotes %>
</p>

  <div class="col-md-8">
    <% if @poll.options.any? %>
      <h3>Options (<%= @poll.options.count %>)</h3>
      <ol class="options">
        <%= render @options %>  
      </ol>
 
    <% end %>
  </div>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
